@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-50 text-gray-900 antialiased font-sans;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold text-gray-900 mb-4;
    }
}

/* Premium Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-slate-50;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
}